<button mat-icon-button  color="warn" (click)="dialog.open(deleteDialog)">
  <mat-icon>delete</mat-icon>
</button>

<ng-template #deleteDialog>
  <h3 mat-dialog-title>Delete</h3>
  <mat-dialog-content>
    <h2>Are you sure?</h2>
    <p>
      Are you sure you want to delete entity with id {{item.Id}}?
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close >Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true"  (click)="deleteFunc(item)">Confirm</button>
  </mat-dialog-actions>
</ng-template>
