
.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.content {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    height: max-content;
    mat-card {
      height: max-content;
    }
}
