<ng-container *ngIf="request$ | async as request">
    <ag-grid-angular class="ag-theme-alpine" editType="fullRow"  (rowValueChanged)="webApi.updateTableRow('/drivers', $event)" style="width: 100%; height: 500px;" [rowData]="request"
        [columnDefs]="colDefs" [domLayout]="domLayout" [pagination]="true">

    </ag-grid-angular>
</ng-container>

<div style="padding-top: 50px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form [form]="form" [fields]="fields"></formly-form>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>